#SKUs for the admin user:
# MCT4022,MCT3718,MCT3695,ES0113909

ADMIN_USERNAME="" # Required
ADMIN_PASSWORD="" # Required
READONLY_USERNAME="" # Required for RBAC tests
READONLY_PASSWORD="" # Required for RBAC tests
BASE_URL="https://stage.foo.redhat.com:1337" # Required
CI="" # This is set to true for CI jobs, if checking for CI do  !!process.env.CI
TOKEN="" # This is handled programmatically.
PROXY="" # Set this if running directly against stage (not using "yarn local")
