/* KitCssScopePlugin wraps this file in `html.lightwell-v1-theme { … }`.
 * Write rules for that root / its descendants — do not re-scope to `.lightwell-v1-theme`. */

& {
  --pf-t--global--background--image--default: url('./assets/background-16-9__light.png');

  background-image: url('./assets/background-16-9__light.png');
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 120%;
  background-position-x: 50%;
  background-position-y: -4rem;
  background-color: #e5e0df; /* matches background image color */

  /* html.lightwell-v1-theme.pf-v6-theme-dark */
  &.pf-v6-theme-dark {
    --pf-t--global--background--image--default--dark: url('./assets/background-16-9__dark.png');

    background-image: url('./assets/background-16-9__dark.png');
    background-color: #000000; /* matches background image color */
  }
}

.pf-v6-c-page.pf-m-plain {
  .pf-v6-c-page__main-container {
    display: flex;
    flex: 1;
    align-items: stretch;
    margin: 0;
    padding-inline: var(--lw-base--page--inline-padding);
    padding-block: var(--lw-base--page--block-padding);
    background-color: transparent;
    backdrop-filter: none;
    box-shadow: none;
    border-radius: 0;
    border: none;
  }

  .pf-v6-c-page__drawer {
    flex: 1;
    max-width: 138rem; /* 2208px */
    width: 100%;
    margin: 0 auto;
  }

  .pf-v6-c-page__main,
  .pf-v6-c-page__main-container,
  .pf-v6-c-page__drawer {
    outline: none; /* Removes focus outline */
  }

  .pf-v6-c-page__main,
  .pf-v6-c-page__main-container {
    overflow-x: unset;
    overflow-y: unset;
  }

  .pf-v6-c-page__main {
    display: flex;
    flex-direction: column;
    gap: var(--pf-t--global--spacer--lg);
  }

  .pf-v6-c-page__main-section {
    margin: 0;
    padding: 0;
  }
}

.pf-v6-c-multiple-file-upload__main {
  display: flex;
  flex-direction: column;
  gap: var(--pf-t--global--spacer--lg);
}

.pf-v6-c-page__drawer .pf-v6-c-drawer__content {
  /* overflow: visible;; */
}

.pf-v6-c-page__main-breadcrumb.chr-c-breadcrumbs > .pf-v6-u-display-flex,
.pf-v6-c-page__main-breadcrumb.chr-c-breadcrumbs .pf-v6-c-breadcrumb {
  padding-block: 0 !important;
}

.pf-v6-c-breadcrumb__item {
  padding-block: 0 !important;
}

.pf-v6-c-page__main-breadcrumb.chr-c-breadcrumbs > .pf-v6-u-display-flex {
  padding-inline: var(--pf-t--global--spacer--md);
  align-items: center;
}

.chr-c-page-subnav {
  padding-inline: var(--pf-t--global--spacer--sm);
}
